@import '../../styles/variables.scss';

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 0.875rem;
    color: $eerie-black;

    &__arrow {
        border: 1px solid $border;
        border-radius: 4px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
            background-color: $hover;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    &__pages {
        display: flex;
        align-items: center;
        gap: 6px;

        &-item {
            border: 1px solid $border;
            border-radius: 4px;
            padding: 8px 12px;

            a {
                color: $eerie-black;
            }
        }

        .selected {
            background-color: $black;
            color: $white;
            font-weight: 600;
        }
    }
}
