@import '../../styles/variables.scss';

.header {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;

        &__logo {
            width: 60px;
            margin-right: 124px;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 33px;
            font-size: 1.125rem;

            &-item {
                position: relative;
                cursor: pointer;

                a {
                    color: $green;
                }
            }

            .active {
                font-weight: 700;

                &:after {
                    content: '';
                    display: block;
                    width: 17px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: $green;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &__controls {
            display: flex;
            align-items: center;
            gap: 30px;
            z-index: 1;
        }
    }
}
