@import '../../styles/variables.scss';

.link {
    display: inline-block;
    color: $eerie-black;
    border: 1px solid $eerie-black;
    border-radius: 5px;
    padding: 18px 30px;

    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        margin-right: 10px;
    }
}
