@import '../../styles/variables.scss';

.footer {
    padding: 70px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__col {
        width: 20%;
        padding: 0 15px;

        h5 {
            font-size: 0.813rem;
            font-weight: 600;
            margin-bottom: 30px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                font-size: 0.875rem;
                color: $gray-600;
            }
        }
    }

    &__col:first-child {
        width: 30%;
        margin-right: 10px;
    }

    &__logo {
        width: 84px;
        margin-bottom: 22px;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 36px;
    }
}
